* {
  margin: 0;
  box-sizing: border-box;
  --primary-color: #333333;
}

header .header__title {
  font-family: "Inconsolata";
  font-size: 24px;
  padding-left: 77px;
  padding-top: 40px;
  color: var(--primary-color);
}

main {
  padding-left: 40px;
  padding-right: 40px;
}
